@import "tailwindcss";
@import "./scroll-optimization.css";
@import "./styles/variables.css";
@import "./styles/base.css";
@import './styles/transitions.css';
@import './styles/effects.css';
@import './styles/glass.css';
@import "./styles/video-player.css";
@import "./styles/search-history.css";
@keyframes jiggle {
  0% { transform: rotate(-1deg); }
  50% { transform: rotate(1deg); }
  100% { transform: rotate(-1deg); }
}

.animate-jiggle {
  animation: jiggle 0.2s infinite;
}

/* Remove standard arrow for number input */
.no-spinner::-webkit-inner-spin-button, 
.no-spinner::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.no-spinner {
  -moz-appearance: textfield;
}
